<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, enim?
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur
        assumenda inventore blanditiis, veritatis corporis architecto expedita
        repudiandae, vel asperiores dolorum deleniti voluptate quibusdam nemo
        libero quidem amet impedit sed! Corporis.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <header class="block__header">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
        enim?
      </p>
    </div>
  </header>
</section>
